name: CI
on:
  push:
    branches:
      - master
    tags: '*'
  pull_request:
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      matrix:
        include:
          - {os: 'macOS-latest', arch: 'aarch64', version: 'lts'}
          - {os: 'windows-latest', arch: 'x64',  version: 'lts'}
          - {os: 'ubuntu-latest', arch: 'x86', version: 'lts'}
          - {os: 'ubuntu-latest', arch: 'x64', version: 'lts'}
          - {os: 'ubuntu-latest', arch: 'x64', version: '1.6'}
          - {os: 'ubuntu-latest', arch: 'x64', version: '1'}
          - {os: 'ubuntu-latest', arch: 'x64', version: 'nightly'}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
          cache: 'pip'
      - run: pip install -r test/requirements.txt
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
        with:
          coverage: false
          prefix: ${{ matrix.prefix }}
